body {
  font-family: "Roboto", sans-serif;
}

.toolbar-container {
  width: 100vw;
  height: 8vh;
}

aside {
  z-index: 10000 !important;
}

.page-container {
  width: 100vw;
  height: 92vh;
  overflow-x: scroll;
}

#map {
  height: 87vh;
  max-height: 96%;
  z-index: 1;
}

.error-section {
  position: absolute;
  z-index: 10;
  width: 60vw;
  margin: 3vh 20vw;
  background-color: #ffffff;
}
