body {
  font-family: "Roboto", sans-serif;
}

.toolbar-container {
  width: 100vw;
  height: 8vh;
}

aside {
  z-index: 10000 !important;
}

.page-container {
  width: 100vw;
  height: 92vh;
  overflow-x: scroll;
}

#sw-notification {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}
#sw-notification.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

#map {
  height: 87vh;
  max-height: 96%;
  z-index: 1;
}

.error-section {
  position: absolute;
  z-index: 10;
  width: 60vw;
  margin: 3vh 20vw;
  background-color: #ffffff;
}
