<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 viewport-fit=cover"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Lieux Lyon</title>
    <meta name="description" content="Lieux Lyon" />
    <link rel="manifest" href="manifest.json" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./src/assets/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./src/assets/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./src/assets/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="./src/assets/icons/site.webmanifest" />
    <link
      rel="mask-icon"
      href="./src/assets/icons/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <link rel="shortcut icon" href="./src/assets/icons/favicon.ico" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta
      name="msapplication-config"
      content="./src/assets/icons/browserconfig.xml"
    />
    <meta name="theme-color" content="#ffffff" />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin=""
    />
    <link rel="stylesheet" href="src/css/main.css" />
    <link rel="stylesheet" href="src/css/screen.css" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script
      src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
      integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
      crossorigin=""
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
  </head>

  <body>
    <div id="app">
      <div class="page-container">
        <nav v-bind:class="{'is-open': isNavOpen}">
          <ul>
            <li
              v-for="(todoList, index) in todoLists"
              v-bind:class="{'is-active' : currentListIndex === index}"
            >
              <button v-on:click="currentListIndex = index; isNavOpen = false">
                {{ todoList.title }}
                <span>
                  {{ totalTodosCompleted(index) }} / {{ todoList.items.length }}
                </span>
              </button>
            </li>
            <li>
              <button class="is-add" v-on:click="openSidebar('createNewList')">
                Create a new list
              </button>
            </li>
          </ul>
        </nav>
        <div>
          <div class="toolBar">
            <button class="is-primary">
              Menu
            </button>
            <h1>LieuxLyon</h1>
            <button class="is-primary">
              Chercher
            </button>
          </div>
        </div>
        <div id="map"></div>
        <!-- <main v-if="todoLists.length > 0">
          <header
            v-bind:style="'background-image: url(https://source.unsplash.com/featured/?' + todoLists[currentListIndex].keyword + ')'"
          >
            <div class="header-content">
              <h1>{{ todoLists[currentListIndex].title }}</h1>
              <button class="is-primary" v-on:click="openSidebar('editList')">
                Edit list
              </button>
            </div>
          </header>
          <ul>
            <li
              v-for="(todo, index) in todoLists[currentListIndex].items"
              v-bind:class="{'is-completed': todo.isCompleted}"
            >
              <label v-bind:for="'todo' + index">
                <input
                  type="checkbox"
                  v-bind:name="'todo' + index"
                  v-bind:id="'todo' + index"
                  v-bind:checked="todo.isCompleted"
                  v-model="todo.isCompleted"
                />{{ todo.name }}</label
              >
              <button
                class="is-primary"
                v-on:click="openSidebar('editTodo'); currentTodoIndex = index"
              >
                Edit todo
              </button>
            </li>
            <li>
              <button class="is-add" v-on:click="openSidebar('createNewTodo')">
                New Todo
              </button>
            </li>
          </ul>
        </main> -->
        <!-- <main v-else>
          <header
            style="background-image: url(https://source.unsplash.com/featured/?cat)"
          >
            <div class="header-content">
              <h1>Please create a new list</h1>
              <button class="is-add" v-on:click="openSidebar('createNewList')">
                Create a new list
              </button>
            </div>
          </header>
        </main> -->
      </div>
      <div class="sidebar" v-bind:class="{'is-open' : isSidebarOpen}">
        <div class="sidebar-content">
          <form v-if="sidebarContentToShow === 'createNewList'">
            <h3>Create a new list</h3>
            <label for="listTitle">Title:</label>
            <input
              id="listTitle"
              name="listTitle"
              type="text"
              placeholder="My amazing next trip to south america"
              v-model="tempNewList.title"
            />
            <label for="listKeyword">Keyword:</label>
            <input
              id="listKeyword"
              name="listKeyword"
              type="text"
              placeholder="Colombia"
              v-model="tempNewList.keyword"
            />
            <div class="buttons">
              <button
                type="button"
                class="is-danger"
                v-on:click="isSidebarOpen = false"
              >
                Cancel
              </button>
              <button type="button" class="is-confirm" v-on:click="addNewList">
                Create List
              </button>
            </div>
          </form>
          <form
            v-if="sidebarContentToShow === 'editList' && todoLists.length > 0"
          >
            <h3>Edit list</h3>
            <label for="listTitle">Title:</label>
            <input
              id="listTitle"
              name="listTitle"
              type="text"
              placeholder="My amazing next trip to south america"
              v-model="todoLists[currentListIndex].title"
            />
            <label for="listKeyword">Keyword:</label>
            <input
              id="listKeyword"
              name="listKeyword"
              type="text"
              placeholder="Colombia"
              v-model="todoLists[currentListIndex].keyword"
            />
            <div class="buttons">
              <button type="button" class="is-danger" v-on:click="deleteList">
                Delete list
              </button>
              <button
                type="button"
                class="is-confirm"
                v-on:click="isSidebarOpen = false"
              >
                Done
              </button>
            </div>
          </form>
          <form v-if="sidebarContentToShow === 'createNewTodo'">
            <h3>Create a new todo</h3>
            <label for="todoName">Todo:</label>
            <input
              id="todoName"
              name="todoName"
              type="text"
              placeholder="Do things..."
              v-model="tempNewTodo.name"
            />
            <label for="todoCompleted">
              <input
                name="todoCompleted"
                id="todoCompleted"
                type="checkbox"
                v-bind:checked="tempNewTodo.isCompleted"
                v-model="tempNewTodo.isCompleted"
              />
              Is completed</label
            >
            <div class="buttons">
              <button
                type="button"
                class="is-danger"
                v-on:click="isSidebarOpen = false"
              >
                Cancel
              </button>
              <button type="button" class="is-confirm" v-on:click="addNewTodo">
                Create todo
              </button>
            </div>
          </form>
          <form
            v-if="sidebarContentToShow === 'editTodo' && todoLists[currentListIndex].items.length > 0"
          >
            <h3>Edit todo</h3>
            <label for="todoName">Todo:</label>
            <input
              id="todoName"
              name="todoName"
              type="text"
              placeholder="Do things..."
              v-model="todoLists[currentListIndex].items[currentTodoIndex].name"
            />
            <label for="todoCompleted">
              <input
                name="todoCompleted"
                id="todoCompleted"
                type="checkbox"
                v-bind:checked="todoLists[currentListIndex].items[currentTodoIndex].isCompleted"
                v-model="todoLists[currentListIndex].items[currentTodoIndex].isCompleted"
              />
              Is completed</label
            >
            <div class="buttons">
              <button type="button" class="is-danger" v-on:click="deleteTodo">
                Delete todo
              </button>
              <button
                type="button"
                class="is-confirm"
                v-on:click="isSidebarOpen = false"
              >
                Done
              </button>
            </div>
          </form>
        </div>
      </div>
      <button v-on:click="isNavOpen = !isNavOpen" class="menu">Menu</button>
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="src/js/app.js"></script>
    <script src="src/js/maps.js"></script>
    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("sw.js");
        });
      }
    </script>
  </body>
</html>
